.App {
  color: white;
  text-align: left;
  text-transform: capitalize;
  background-image: linear-gradient(to top right, #fc0345, #fc03b1, #4a03fc);
  background-size: 100%;
  background-image: url("https://unsplash.com/photos/NLeq8bl7UZE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MzB8fGZydWl0cyUyMGJhY2tncm91bmR8ZW58MHwwfHx8MTY3MjM2NDE2MQ&force=true&w=1920");
  background-image: linear-gradient( 109.6deg, rgb(38, 65, 64) 11.2%, rgb(251, 148, 110) 91.1% );
  background-image: url("https://unsplash.com/photos/wMzx2nBdeng/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MTF8fGZydWl0JTIwYmFja2dyb3VuZHxlbnwwfDB8fHwxNjcyMzY0MTM3&force=true&w=2400");
  background-image: radial-gradient(circle, #fc0345, #fc6703, #4a03fc, #ffffff);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
  line-height: 0.5;
  @media screen and (max-width: 768px) {
    font-size: 0.4rem;
  }
}

.display-object__key {
  font-weight: bold;
  color: #17343c;
}

.display-object__value {
  color: rgb(95, 95, 95);
}

td {
  padding: 10px;
  border: 0px solid #ddd;
  text-align: center;
}

th {
  padding: 0px 10px;
  border: 0px solid #ddd;
  text-align: center;
}

.error {
  color: gray;
  font-weight: 600;
}

.fruit-info,
.pie-chart {
  margin: 3rem 2rem 2rem 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.35);
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);

  /* border-radius: 100%; */
  box-shadow: inset 0 0 20px #fff, /* inner white */ 0 0 20px #fff,
    /* outer white */ -10px 0 20px rgb(221, 221, 221),
    /* outer left magenta */ 10px 0 20px rgb(70, 70, 70); /* outer right cyan */
}

.pie-chart {
  flex-direction: column;
}

.banger-font {
  font-family: "Bangers", cursive;
  color: white;
}
