.App {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.display-object {
  list-style: none;
  margin: 0;
  padding: 0;
}

.display-object__item {
  margin: 10px 0;
}

.display-object__key {
  font-weight: bold;
  color: #61dafb;

}

.display-object__value {
  color: gray;
}
